body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header a {
    color: #fff !important;
}

header img {
    height: 2rem;
    vertical-align: text-top;
}

main {
    padding: 2rem;
}

.repo-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
}

.repo-card h2 {
    margin-top: 0;
}

.repo-card a {
    color: #0366d6;
    text-decoration: none;
}

.repo-card a:hover {
    text-decoration: underline;
}
